<% if @employees.empty? %>
  <h5>Sem colaboradores cadastrados.</h5>
<% else %>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Cargo</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @employees.each do |employee| %>
      <tr class="<%= 'table-danger' if employee.archived? %>">
        <td><%= employee.name %></td>
        <td><%= employee.type %></td>
        <td width="20px">
          <%= render 'shared/icon_trigger_modal',
                     path: edit_employee_path(employee),
                     header: 'Editar Colaborador',
                     size: 'modal-lg',
                     title: 'Editar' do %>
            <i class="far fa-edit fa-lg"></i>
          <% end %>
        </td>
        <td width="20px">
          <%= set_archived_status(employee) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>